<h1>Listing impressions</h1>

    <% @impressions.each do |impression| %>
      
        <p><%= impression.title %></p>
        <p><%= impression.description %></p>
        <%= link_to 'Show', impression %>
        <%= link_to 'Edit', edit_impression_path(impression) %>
        <%= link_to 'Destroy', impression, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>

<%= link_to 'New Impression', new_impression_path %>
