<p id="notice"><%= notice %></p>
<div id="primary" class="site-content">
  <div id="content" role="main">

    <% @impressions.each do |impression| %>

      <article id="post-5" class="post-5 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title"><%= impression.title %></h1>
        </header>
        <div class="entry-content">
          <p><%= impression.description %></p>
          <% if admin_signed_in? %>
          <p><%= link_to 'Pas bovenstaande tekst aan.', edit_impression_path(@impression) %></p>
          <% end %>
        </div>
      </article>
    <% end %>
  </div>  


  <div id="blog">
    <div class="container">
      <div class="section_header">
        <h3>Foto's</h3>
      </div>
      <% @picture_groups.each do |pictures| %>
        <div class="row post_row">
          <% pictures.each_with_index do |picture, i| %>
            <div class="span4 post <%= check_for_last_class(i) %>">
              <div class="img">
                <%= link_to (image_tag picture.image(:medium)), picture.image(:original), rel: "prettyPhoto", title: picture.title %>            
              </div>
              <div class="text">
                <%= picture.title %>
              </div>
              <% if admin_signed_in? %>
              <div class="author_box"> 
                <p><%= link_to 'Edit', edit_impression_picture_path(@impression, picture) %>
                <%= link_to 'Destroy', [@impression, picture], data: { confirm: 'Are you sure?' },
                                  :method => :delete %></p>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>   
    </div>
  </div>
<% if admin_signed_in? %>
<p><%= link_to 'Nieuwe foto toevoegen', new_impression_picture_path(@impression) %></p>
<% end %>
</div>



