<div id="primary" class="site-content">
	<div id="content" role="main">
	  <article id="post-5" class="post-5 page type-page status-publish hentry">
	    <header class="entry-header">
	      <h1 class="entry-title">Gastenboek</h1>
	    </header>
	  </article>
	 
	  <div id="easybook">
			<% @comments.each do |comment| %>
	 			<p class="clr"></p>
  			<div class="easy_frame">
  				<div class="easy_top">
      			<div class="easy_top_left">
          		<strong class="easy_big" id="gbentry_74"><%= comment.name %></strong>
          		<strong class="easy_small"><%= comment.created_at %></strong>
          	</div>
          	<div class="easy_top_right">
          	</div>
          	<div style="clear: both;"></div>
          </div>
          <div class="easy_title">
            <%= comment.title %>            
          </div>
          <div class="easy_content">
						<%= comment.message %>
						<div class="easy_image">
							<%= link_to (image_tag comment.image(:medium)), comment.image(:original), rel: "prettyPhoto" %>
						<% if admin_signed_in? %>
							<%= link_to 'Show', comment %>
					        <%= link_to 'Edit', edit_comment_path(comment) %>
					        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
					    <% end %>
						<div>
					</div>
	        </div>
	      </div>
			<% end %>
		</div>
		<%= will_paginate @comments %>
		
	<h1>Nieuw Bericht</h1>

	<%= render 'form' %>

	</div>
</div>
