
<div id="primary" class="site-content">
	<div id="content" role="main">
	  <article id="post-5" class="post-5 page type-page status-publish hentry">
	    <header class="entry-header">
	      <h1 class="entry-title">Gastenboek</h1>
	    </header>
	  </article>
	 
			<% @comments.each do |comment| %>
			 	<div id="comment">
					<div id="comment-naam"><%= comment.name %></div>
					<div id="comment-bericht"><%= comment.message %></div>
					<div id="comment-image"><%= link_to (image_tag comment.image(:medium)), comment.image(:original), rel: "prettyPhoto" %></div>
					<%= link_to 'Show', comment %>
	        <%= link_to 'Edit', edit_comment_path(comment) %>
	        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
			<% end %>
		


	<h1>Nieuw Bericht</h1>

	<%= render 'form' %>

	</div>
</div>
