<%= simple_form_for(@surrounding) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title, label: 'Voeg titel toe:' %>
    <%= f.input :description, label: 'Voeg omschrijving toe', as: :text %>
  </div>

  <div class="actions">
    <%= f.button :submit, 'Pas aan!' %>
  </div>
<% end %>