<h1>Listing surroundings</h1>

    <% @surroundings.each do |surrounding| %>
      
        <p><%= surrounding.title %></p>
        <p><%= surrounding.description %></p>
        <%= link_to 'Show', surrounding %>
        <%= link_to 'Edit', edit_surrounding_path(surrounding) %>
        <%= link_to 'Destroy', surrounding, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>

<%= link_to 'New Surrounding', new_surrounding_path %>
