<p id="notice"><%= notice %></p>
<div id="primary" class="site-content">
  <div id="content" role="main">
    <% @surroundings.each do |surrounding| %>

      <article id="post-5" class="post-5 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title"><%= surrounding.title %></h1>
        </header>
        <div class="entry-content">
          <p><%= surrounding.description %></p>
          <p><%= link_to 'Bovenstaande tekst aanpassen.', edit_surrounding_path(@surrounding) %> </p>
        </div>
      </article>
    <% end %>

    <header class="entry-header">
      <h1 class="entry-title">Foto's</h1>
        <article id="post-5" class="post-5 page type-page status-publish hentry">

          <div class="entry-content">
            <% @photos.each do |photo| %>
                <p><%= photo.title %></p>
                <%= link_to (image_tag photo.image(:medium)), photo.image(:original), rel: "prettyPhoto", title: photo.title %>
                <div>
                  <%= link_to 'Foto aanpassen', edit_surrounding_photo_path(@surrounding, photo) %>
                  <%= link_to 'Verwijder foto', [@surrounding, photo], :confirm => 'Are you sure?',
                          :method => :delete %>
                </div>
            <% end %>
          </div>
        </article><br><br><br>
        <p><%= link_to 'Nieuwe foto toevoegen', new_surrounding_photo_path(@surrounding) %></p>
      </div>
    </header>
  </div>
</div>

