<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @surrounding.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @surrounding.description %>
</p>

<%= link_to 'Edit', edit_surrounding_path(@surrounding) %>
<%= link_to 'Back', surroundings_path %>
