<p id="notice"><%= notice %></p>
<div id="primary" class="site-content">

  <% @surroundings.each do |surrounding| %>

      <div id="content" role="main">
        <article id="post-5" class="post-5 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title"><%= surrounding.title %></h1>
          </header>
          <div class="entry-content">
            <p><%= surrounding.description %></p>
            <%= link_to 'Tekst aanpassen.', edit_surrounding_path(@surrounding) %> 
          </div>
        </article>
      </div>
  <% end %>

  <header class="entry-header">
    <h1 class="entry-title">Foto's</h1>
    <div id="content" role="main">
      <article id="post-5" class="post-5 page type-page status-publish hentry">

        <div class="entry-content">
          <% @photos.each do |photo| %>
              <%= photo.title %>
              <%= link_to (image_tag photo.image(:medium)), [@surrounding, photo] %>
              <%= link_to 'Show', [@surrounding, photo] %>
              <%= link_to 'Edit', edit_surrounding_photo_path(@surrounding, photo) %>
              <%= link_to 'Destroy', [@surrounding, photo], :confirm => 'Are you sure?',
                        :method => :delete %>
          <% end %>
        </div>
      </article>
    </div>
  </header>
</div>