<p id="notice"><%= notice %></p>
<div id="primary" class="site-content">
  <div id="content" role="main">

    <% @surroundings.each do |surrounding| %>

      <article id="post-5" class="post-5 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title"><%= surrounding.title %></h1>
        </header>
        <div class="entry-content">
          <p><%= surrounding.description %></p>
          <p><%= link_to 'Pas bovenstaande tekst aan.', edit_surrounding_path(@surrounding) %></p>
        </div>
      </article>
    <% end %>
  </div>  


  <div id="blog">
    <div class="container">
      <div class="section_header">
        <h3>Foto's</h3>
      </div>
      <% @photo_groups.each do |photos| %>
        <div class="row post_row">
          <% photos.each_with_index do |photo, i| %>
            <div class="span4 post <%= check_for_last_class(i) %>">
              <div class="img">
                <%= link_to (image_tag photo.image(:medium)), photo.image(:original), rel: "prettyPhoto", title: photo.title %>            
              </div>
              <div class="text">
                <%= photo.title %>
              </div>
              <div class="author_box"> 
                <p><%= link_to 'Edit', edit_surrounding_photo_path(@surrounding, photo) %>
                <%= link_to 'Destroy', [@surrounding, photo], data: { confirm: 'Are you sure?' },
                                  :method => :delete %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>   
    </div>
  </div>

<p><%= link_to 'Nieuwe foto toevoegen', new_surrounding_photo_path(@surrounding) %></p>
</div>
