<%= simple_form_for([@impression, @picture]) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size %>
  <%= f.full_error :image_content_type %>

  <% if @impression %>
    <input type="hidden" name="picture[impression_id]" value="<%= @impression.id %>" />
  <% end %>

  <div class="inputs">
    <%= f.input :image, label: 'Voeg afbeelding toe', rel: ["prettyPhoto[pp_gal"] %>
    <%= f.input :title, label: 'Voeg een omschrijving van de foto toe' %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>