<header class="site-header">
  <hgroup>
		<h1 class="site-title"><%= link_to 'Vakantiewoning Serooskerke', root_path %></h1>
  </hgroup>
  <nav id="site-navigation" class="main-navigation" role="navigation">
		<div class="menu-menu-container">
			<ul id="menu-menu" class="nav-menu">
				<li id="menu-item-94"><%= link_to 'Omgeving', '/surroundings/1/', class: 'menu-item menu-item-type-post_type menu-item-object-page menu-item-94' %></li>
				<li id="menu-item-92"><%= link_to 'Indeling woning', '/impressions/1/', class: "menu-item menu-item-type-post_type menu-item-object-page menu-item-92" %></li>
				<li id="menu-item-91"><%= link_to 'Verhuur', '#', class: "menu-item menu-item-type-post_type menu-item-object-page menu-item-91" %></li>
				<li id="menu-item-90"><%= link_to 'Gastenboek', comments_path, class: "menu-item menu-item-type-post_type menu-item-object-page menu-item-90" %></li>
				<li id="menu-item-93"><%= link_to 'Contact', contact_path, class: "menu-item menu-item-type-post_type menu-item-object-page menu-item-93" %></li>
			</ul>
		</div>	
	</nav><!-- #site-navigation -->
<div style="clear:both;"></div>
</header>